<% flash.each do |flash_type, msg| %>
  <div class="alert alert-<%= flash_type %>" role="alert">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <%= mag %>
  </div>
<% end %>
<p style="color: <%= flash_type == 'notice' ? 'green' : 'red' %>;"><%= msg %></p>
<hr>
<% end %>
